main
{
    padding: 30px;
    padding-top: 1rem;
}

header {
    background-color: rgb(248, 249, 250);
    display: grid;
    grid-template-columns: 1.5fr 0.1fr 8fr 2fr;
    text-align: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

header img {
    width: 150px;
    height: 105px;
}

header p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin:0;
    line-height: 2;
    font-size: 1.2rem;
    font-weight: bold;
}

.intro {
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

.intro p {
    text-align: justify;
}

h1
{
    text-align: center;
    margin: 10px;
}

/* ESTILO DAS COLUNAS */

.duasColunas
{
    margin-top: 20px;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    column-gap: 2rem;
}

/* ESTILO DOS INPUTS */

.duasColunas input {
    background-color:rgb(189, 215, 238);
    border-radius: 2px;
}

#OrigemInstituicao {
    background-color:rgb(198, 224, 180);
    border-radius: 2px;
}

#OrigemInstituicao:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgb(198, 224, 180);
    border-color: rgb(198, 224, 180);
}

#OutraInstituicao {
    background-color:rgb(198, 224, 180);
    border-radius: 2px;
}

#OutraInstituicao:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgb(198, 224, 180);
    border-color: rgb(198, 224, 180);
}

#PaisInstituicao {
    background-color:rgb(198, 224, 180);
    border-radius: 2px;
}

#PaisInstituicao:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgb(198, 224, 180);
    border-color: rgb(198, 224, 180);
}

#TipoProjeto {
    background-color:rgb(198, 224, 180);
    border-radius: 2px;
}

#TipoProjeto:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgb(198, 224, 180);
    border-color: rgb(198, 224, 180);
}

#OutroProjeto {
    background-color:rgb(198, 224, 180);
    border-radius: 2px;
}

#OutroProjeto:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgb(198, 224, 180);
    border-color: rgb(198, 224, 180);
}

#fonteRecursos {
    background-color:rgb(198, 224, 180);
    border-radius: 2px;
    width: 100;
}

#fonteRecursos:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgb(198, 224, 180);
    border-color: rgb(198, 224, 180);
}

.umaColuna {
    display: grid;
    grid-template-columns: none;
}

.umaColuna textarea {
    width: 100%;
    height: 100px;
    background-color: rgb(189, 215, 238);
    border-radius: 2px;
}

.seisColunas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.seisColunas input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(189, 215, 238);
}

/* ESTILO PARA O FIELDSET E TODOS OS ELEMENTOS "caixa" */

.caixa {
    border: 2px solid rgb(47, 117, 181);
    border-radius: 2px;
    background-color: rgb(240, 248, 255);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.caixa legend {
    margin-bottom: 5px;
    padding: 10px;
}

.caixa input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

.caixa p {
    text-align: right;
    margin: 0;
    align-self: center;
}

.caixa input p {
    align-items: center;
}

.caixa input:focus {
    border-color: rgb(198, 224, 180);
    box-shadow: 0 0 2px 10 px rgb(198, 224, 180);
    outline: none;
}

legend {
    font-size: 35px;
    padding: 0 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    background-color: rgb(47, 117, 181);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.caixa fieldset {
    border: 2px solid rgb(47, 117, 181);
    padding: 10px;
    border-radius: 2px;
    background-color: rgb(240, 248, 255);
}

/* ESTILO PARA "numeroAmostra */

#numeroAmostra {
    height: 50%;
    border: 1px solid rgb(189, 215, 238);

}

/* Visual do input adicionado ao clicar em "Outro tipo de material */

#OutraAmostra {
    height: 50%;
    border: 1px solid rgb(189, 215, 238);

}

/* ESTILO PARA O ID "amostra" */

#amostra {
    background-color:rgb(198, 224, 180);
    border-radius: 2px;
}

#amostra:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgb(198, 224, 180);
    border-color: rgb(198, 224, 180);
}

/* ESTILO PARA O ID "metodo" */ 

#metodo {
    background-color:rgb(198, 224, 180);
    border-radius: 2px;
}

#metodo:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgb(198, 224, 180);
    border-color: rgb(198, 224, 180);
}

.Botoes {
    margin-bottom: 0;
    padding-top: 1rem;
    text-align: center;
    align-items: center;
}

.Botoes button {
    width: 5%;
    height: 20%;
    font-size: 1.4rem;
    color: white;
    border: 1px solid rgb(47, 117, 181);
    border-radius: 2px;
    box-sizing: border-box;
    background-color: rgb(47, 117, 181);
}

.BotaoEnviar button {
    width: 75px;
    height: 40px;
    font-size: 15px;
    color: white;
    border: 1px solid rgb(47, 117, 181);
    border-radius: 2px;
    box-sizing: border-box;
    background-color: rgb(47, 117, 181);
}

/* footer.css */

footer {
    background-color: #4157a3;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.7fr 0.1fr 0.1fr;
    padding: 4vh 6rem;
    align-items: center;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
}

footer p{
    margin: 0;
}

.footer-link {
    font-family: 'Poppins', sans-serif;
    color: inherit;
    text-decoration: none;
  }

/* Regras para a página de impressão */
@media print {
    footer {
        column-gap: 2vh !important;
        padding: 1vh 3rem !important;
        padding-right: 5% !important;
        padding-left: 5% !important;
        grid-template-columns: 1.1fr 1.1fr 0.6fr 0.7fr 0.08fr 0.08fr !important;
    }
    footer p, span,
    footer .footer-link {
        font-size: 9px !important;
    }
}

/* Regras para celular (até 767px de largura) */
@media screen and (max-width: 767px) {
    footer {
        padding: 2vh 6rem;
        padding-right: 10%;
        padding-left: 10%;
        grid-template-columns: repeat(4, 1fr);
    }
    footer p, span,
    footer .footer-link {
        font-size: 12px !important;
    }
}
/* Regras para iPad/Tablet (largura mínima de 768px e largura máxima de 1200px)*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
    footer {
        padding: 2vh 6rem;
        padding-right: 10%;
        padding-left: 10%;
        grid-template-columns: repeat(4, 1fr);
    }
    footer p, span,
    footer .footer-link {
        font-size: 12px !important;
    }
}