/* styles.css */

/*============ BARRA LATERAL MENOR ============*/
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: lightgray;
}
  
/*============ MUDANÇA DE FONTE ============*/
/* Estilo para a página */
body, h1, h2, h3, h4, h5, h6, p, a, button, input, label, li, ul {
    font-family: 'Poppins', sans-serif;
}
/* Estilo para o cabeçalho (header) */
header {
    font-family: 'Poppins', sans-serif;
}
/* Estilo para o rodapé (footer) */
.footer-link {
    font-family: 'Poppins', sans-serif;
    color: inherit;
    text-decoration: none;
}
/**/

html{
    text-align: center; /* Centraliza horizontalmente o conteúdo da página */
}

main{
    display: grid;
    grid-template-columns: auto 90vw auto; /* Divide o main em 3 colunas */
    text-align: left;
    row-gap: 4vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

main div{
    align-items: center;
}

main p{
    margin: 0;
    vertical-align: middle;
    line-height: 3rem;
}

main input{
    margin: 10px 0px 10px 0px;
}

/* Regras para a página de impressão */
@media print {
    @page {
        margin: 0.5cm;
        margin-left: 1cm;
        margin-right: 1cm;
    }
    .no-print {
        display: none; /* Tira tudo que tiver "no-print" da página de impressão */
    }

    body{
        font-size: 10px !important;
    }

    input, select, textarea {
        font-size: 10px !important; /* Define o tamanho do texto dentro dos inputs, selects e textareas */
    }

    main{
        grid-template-columns: auto 98vw auto !important; /* Divide o main em 3 colunas */
        row-gap: 0.7vh !important;
        padding-top: 0.5vh !important;
        padding-bottom: 0.5vh !important;
    }

    main p{
        margin: 0 !important;
        vertical-align: middle !important;
        line-height: 1.5rem !important; /* Mude isso para ajustar o conteúdo na página de impressão (tamanho das linhas) */
    }

    main input{
        margin: 5px 0px 5px 0px !important;
    }
    
}

/* Regras para celular (até 767px de largura) */
@media screen and (max-width: 767px) {
    body{
        font-size: 5px !important;
    }

    main{
        row-gap: 2vh !important;
        padding-top: 2vh !important;
        padding-bottom: 2vh !important;
    }

    input, select, textarea, button {
        font-size: 5px !important;
    }
    main p{
        margin: 0 !important;
        vertical-align: middle !important;
        line-height: 1rem !important;
    }
}
/* Regras para iPad/Tablet (largura mínima de 768px e largura máxima de 1200px)*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
    body{
        font-size: 10px !important;
    }

    main{
        row-gap: 2vh !important;
        padding-top: 2vh !important;
        padding-bottom: 2vh !important;
    }

    input, select, textarea, button {
        font-size: 10px !important;
    }
}