/* styles.css */

/* BARRA LATERAL MENOR */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
}

/* CONTEÚDO DA PÁGINA */

html {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: auto 90vw auto;
    text-align: left;
    row-gap: 4vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

main div {
    align-items: center;
}

main p {
    margin: 0;
    vertical-align: middle;
    line-height: 3rem;
}

main input {
    margin: 10px 0px 10px 0px;
}