/* formulario.css */

/*BARRA LATERAL MENOR*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
}

/*MUDANÇA DE FONTE*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
label,
li,
ul {
    font-family: 'Poppins', sans-serif;
}

header {
    font-family: 'Poppins', sans-serif;
}

.footer-link {
    font-family: 'Poppins', sans-serif;
    color: inherit;
    text-decoration: none;
}

/**/

html {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: auto 90vw auto;
    text-align: left;
    row-gap: 4vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

main div {
    align-items: center;
}

main p {
    margin: 0;
    vertical-align: middle;
    line-height: 3rem;
}

main input, span {
    margin: 10px 0px 10px 0px;
}

/* Regras para a página de impressão */
@media print {
    /* Redefinir margens para folha A4 padrão (210 x 297 mm) */
    @page {
        margin: 0;        
    }
    body{
      white-space: nowrap;
      line-height: 1; 
      align-items: center;
      font-size: 11pt;
    } 
    input.form-control{
      font-size: 10pt;
      line-height: 0.5; 
    }
    .no-print {
        display: none; 
    }
    form {
        row-gap: 1vh !important;
    }
  }


/* Regras para celular (até 767px de largura) */
@media screen and (max-width: 767px) {
    body {
        font-size: 5px !important;
    }

    main {
        row-gap: 2vh !important;
        padding-top: 2vh !important;
        padding-bottom: 2vh !important;
    }

    input,
    select,
    textarea,
    button {
        font-size: 5px !important;
    }

    main p {
        margin: 0 !important;
        vertical-align: middle !important;
        line-height: 1rem !important;
    }
}

/* Regras para iPad/Tablet (largura mínima de 768px e largura máxima de 1200px)*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
    body {
        font-size: 10px !important;
    }

    main {
        row-gap: 2vh !important;
        padding-top: 2vh !important;
        padding-bottom: 2vh !important;
    }

    input,
    select,
    textarea,
    button {
        font-size: 10px !important;
    }
}

/*ITENS CONTEÚDO DA PÁGINA*/
.line {
    border-top: 1px solid black;
    width: 300px;
    margin: 0 auto;
}

.botaoAzul{
    background-color: #4157a3 !important;
    color: white;
}

/* Remover setas no Chrome, Safari, Edge e Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn {
    background-color: #f2f2f2;
    border-color: #cccccc;
  }
  
  .inputButton{
    margin: 10 -1!important;
  }