/* header.css */

header {
    background-color: #f8f9fa;
    display: grid;
    grid-template-columns: 1fr 1fr 10fr 1fr;
    column-gap: 2vh;
    padding: 4vh 6rem;
    align-items: center;
    text-align: center;
}

header p{
    margin: 0;
}

header img {
    height: 10vh;
}

/* Regras para a página de impressão */
@media print {
    header {
        margin-top: 0;
        margin-bottom: 0;
        white-space: nowrap;
        margin-top: 10px;
    }
    .header-text {
        margin: 0;
        font-size: 10pt; 
    }
    .header-text p {
      line-height: 0.5; 
    }
    header img {
        height: 50pt;
    }
    header .navbar {
        padding: 10pt;
    }
}

/* Regras para celular (até 767px de largura) */
@media screen and (max-width: 767px) {
    header {
        column-gap: 1vh;
        font-size: 6px;
        padding: 4vh 1rem;
    }
    header img {
        height: 3vh !important;
    }
}
/* Regras para iPad/Tablet (largura mínima de 768px e largura máxima de 1200px)*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
    header {
        font-size: 10px;
        padding: 4vh 3rem;
    }
    header img {
        height: 4vh !important;
    }
}