/*============ BARRA LATERAL MENOR ============*/
::-webkit-scrollbar{
    width: 8px;
  }
  ::-webkit-scrollbar-thumb{
    background: lightgray;
  }  

/* ----------------------------------------------- HEADER ----------------------------------------------- */

header {
    background-color: #f8f9fa;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    column-gap: 2vh;
    padding: 4vh 6rem;
    align-items: center;
    text-align: center;
    width: 100%;
}

header img {
    height: 10vh;
}

/* ----------------------------------------------- PAGE ----------------------------------------------- */

main {
    display: grid;
    grid-template-columns: 0.5fr 5fr 0.5fr; /* Divide o main em 3 colunas */
    text-align: left;
    row-gap: 4vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
    width: 100%;
}

form {
    grid-column-start: 2;
    grid-column-end: 2;
}

input {

    width: 100%;
}

/* Para remover setas em todos os navegadores */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    margin: 0; /* Remove a margem */
}

button {

    background-color: #4157a3;
    color: white;
    border: none;
    border-radius:5px;
    padding: 10px;
    grid-column-start: 2;

}

.botao {

    grid-column-start: 2;
    margin: 0 auto;

}

.assinatura {
    text-align: center; /* Centraliza o conteúdo */
    margin-top: 50px; /* Espaçamento acima da seção */
    padding: 10px;
    grid-column-start: 2;
}

.signature-line {
    width: 300px; /* Largura da linha de assinatura */
    height: 1px; /* Altura da linha */
    background-color: #ffffff; /* Cor da linha */
    margin: 0 auto; /* Centraliza a linha */
    position: relative; /* Para posicionar o texto em relação à linha */
}

.signature-name {
    margin-top: 10px; /* Espaçamento acima do nome */
    font-size: 16px; /* Tamanho da fonte */
    text-align: center;
}

.dataAtual {

    text-align: right;
    grid-column-start: 2;

}

/*---------------------------------------- FORMULÁRIO DADOS RELATIVOS À IDENTIFICAÇÃO -------------------------------------------------------*/

div {

    padding: 7px;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 5px;
}

.formulario div {

    text-align: left;
    align-items: center;
    
}

.formulario input,
.formulario select {
    width: 100%; /* Faz com que os inputs e selects ocupem toda a largura disponível */
    padding: 10px; /* Adiciona padding interno para melhorar a aparência */
    box-sizing: border-box; /* Faz com que o padding não aumente a largura total */
    height: 40px;

}

/* Estilo do título */
.formulario div.titulo {
    grid-column: span 8;
    background-color: #4157a3;
    color: white;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}

/* Se desejar um estilo específico para selects e inputs, você pode adicionar mais regras aqui */
.form-control {
    border: 1px solid #ccc;
    border-radius: 10px; /* Bordas arredondadas */
    width: 100%;
    
}

.form-select {
    border: 1px solid #ccc;
    border-radius: 10px; /* Bordas arredondadas */
    padding: 10px; /* Adiciona padding interno */
}

/* Altera o estilo do input quando recebe foco */
.form-control:focus,
.form-select:focus {
    border-color: #4157a3; /* Muda a cor da borda para o azul do cabeçalho */
    outline: none; /* Remove a borda padrão do foco */
    box-shadow: 0 0 5px rgba(65, 87, 163, 0.5); /* Adiciona sombra ao foco */
}

.campoNome {

    grid-column: span 3;

}

.dataNascimento {

    grid-column: span 2;

}

.email {

    grid-column: span 3;

}

.nacionalidade {

    grid-column: span 2;
    background-color: rgb(240, 240, 240);

}

.naturalidade {

    grid-column: span 2;
    background-color: rgb(240, 240, 240);

}

.pai {

    grid-column: span 3;

}

.mae {

    grid-column: span 3;

}

.sexo {

    grid-column: span 1;
    background-color: rgb(240, 240, 240);

}

.estadoCivil {

    grid-column: span 1;
    background-color: rgb(240, 240, 240);

}

.certificadoMilitar {

    grid-column: span 2;

}

.expeditor {

    grid-column: span 2;

}

.escolaridade {

    grid-column: span 3;
    background-color: rgb(240, 240, 240);

}

.formação {

    grid-column: span 3;
    background-color: rgb(240, 240, 240);
    border-radius: 0 0 15px 0;

}

.linhaCinza {

    background-color: rgb(240, 240, 240);
}

.linhaCinzaUltima {

    border-radius: 0 0 0 15px;
    background-color: rgb(240, 240, 240);
}
 /*---------------------------------- FORMULÁRIO ENDEREÇO RESIDENCIAL/DADOS BANCÁRIOS ------------------------------------------------*/

 .formulario2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 5px;
}

.formulario2 div.titulo {
    grid-column: span 8;
    background-color: #4157a3;
    color: white;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}

.rua {

    grid-column: span 2;

}

.complemento {

    grid-column: span 2;

}

.bairro {

    grid-column: span 2;
    background-color: rgb(240, 240, 240);

}

.cep {

    grid-column: span 2;
    background-color: rgb(240, 240, 240);

}

.cidade {

    grid-column: span 2;

}

.uf {

    grid-column: span 2;

}

.nomeAgencia {

    background-color: rgb(240, 240, 240);

}

/*----------------------------------------------------------------------------------------*/







/*--------------------------------- ESTILIZAÇÃO PARA IMPRESSÃO ------------------------------------------------------*/

@media print {

    header {
        padding: 2rem;
        grid-template-columns: 1fr 8fr 1fr; 
        column-gap: 1rem; 
        background: none;
    }

    header img {
        height: 100%; 
        max-width: 100%;
    }
    
   
    header h1, 
    header h2, 
    header h5, 
    header p {
        margin: 0; 
        font-size: 16pt;
    }

    footer {
        
        display: none;
    }

    .botao {

        display: none;
    }

    main {
        display: block; 
        padding: 1rem; 
        row-gap: 0; 
    }

}

/*--------------------------------- ESTILIZAÇÃO PARA CELULAR/TELAS MENORES ------------------------------------------------------*/

@media only screen and (max-width: 768px) {
    
    header {
        grid-template-columns: 1fr 8fr 1fr; 
        column-gap: 1rem; 
        padding: 2vh 2rem; 
        text-align: center; 
    }

    
    header h1, 
    header h2, 
    header h5, 
    header p {
        margin: 0; 
        font-size: 13pt;
    }

    header img {
        height: 8vh;
    }
    
    main {
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr; 
        padding: 2vh 1rem; 
        row-gap: 2vh; 
        font-size: 14px; 
    }

    footer {
        display: grid; 
        padding: 2vh 2rem; 
        text-align: center; 
    }

    .seisColunas {
        display: grid; 
        grid-template-columns: repeat(5, 0.5fr); 
        row-gap: 1vh; 
        align-items: center;
    }

    .seisColunas a {
        margin: 0.5vh 0;
    }

    .footer-link i {
        font-size: 2vh; 
    }

    .cepag {
        display: none; 
    }
}

@media only screen and (max-width: 414px) {
    
    header {
        grid-template-columns: 0.5fr 1fr 0.5fr;
        text-align: center; /* Centraliza o texto */
    }


    header h1, 
    header h2, 
    header h5, 
    header p {
        margin: 0; 
        font-size: 9pt; /* Tamanho de fonte reduzido para melhor legibilidade */
    }

    header img {
        height: 5vh; /* Reduz a altura da imagem para se ajustar melhor */
    }
    
    main {
        display: grid; 
        grid-template-columns: 1fr; 
        padding: 2vh 1rem; 
        row-gap: 2vh; 
        font-size: 12px;
    }

    footer {
        display: grid; /* Mantém o display grid */
        text-align: center; /* Garante que o texto esteja centralizado */
    }

    .seisColunas {
        display: grid; 
        grid-template-columns: repeat(5, 0.5fr); /* Muda para uma única coluna para melhor legibilidade */
        align-items: center; /* Centraliza os itens horizontalmente */
    }

    .cepag {
        display: none; /* Esconde a classe .cepag */
    }
}


