#botao {
    position: absolute;
    padding: 10px 20px;
    background-color: #d83f3f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#botaoSim {
    position: absolute;
    padding: 10px 20px;
    background-color: #d83f3f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}