/* -----------------------------------------------header.css----------------------------------------------- */

header {
    background-color: #f8f9fa;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    column-gap: 2vh;
    padding: 4vh 6rem;
    align-items: center;
    text-align: center;
}

.header-text {
    text-align: center;
}

header p{
    margin: 0;
}

header img {
    height: 10vh;
}

/* Regras para a página de impressão */
@media print {
    header {
        column-gap: 2vh !important;
        padding: 1vh 2rem !important;
    }
    header img {
        height: 4vh !important;
    }
}

/* Regras para celular (até 767px de largura) */
@media screen and (max-width: 767px) {
    header {
        column-gap: 1vh;
        font-size: 6px;
        padding: 4vh 1rem;
    }
    header img {
        height: 3vh !important;
    }
}
/* Regras para iPad/Tablet (largura mínima de 768px e largura máxima de 1200px)*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
    header {
        font-size: 10px;
        padding: 4vh 3rem;
    }
    header img {
        height: 4vh !important;
    }
}




/* -----------------------------------------------página----------------------------------------------- */

main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; /* Divide o main em 3 colunas */
    text-align: left;
    row-gap: 4vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

form {

    grid-column-start: 2;
    grid-column-end: 2;
}


/* Regras para a página de impressão */
@media print {
    @page {
        margin: 0.5cm;
        margin-left: 1cm;
        margin-right: 1cm;
    }
    .no-print {
        display: none; /* Tira tudo que tiver "no-print" da página de impressão */
    }

    body{
        font-size: 10px !important;
    }

    input, select, textarea {
        font-size: 10px !important; /* Define o tamanho do texto dentro dos inputs, selects e textareas */
    }

    main{
        grid-template-columns: auto 98vw auto !important; /* Divide o main em 3 colunas */
        row-gap: 0.7vh !important;
        padding-top: 0.5vh !important;
        padding-bottom: 0.5vh !important;
    }

    main p{
        margin: 0 !important;
        vertical-align: middle !important;
        line-height: 1.5rem !important; /* Mude isso para ajustar o conteúdo na página de impressão (tamanho das linhas) */
    }

    main input{
        margin: 5px 0px 5px 0px !important;
    }
    
}

/* Regras para celular (até 767px de largura) */
@media screen and (max-width: 767px) {
    body{
        font-size: 5px !important;
    }

    main{
        row-gap: 2vh !important;
        padding-top: 2vh !important;
        padding-bottom: 2vh !important;
    }

    input, select, textarea, button {
        font-size: 5px !important;
    }
    main p{
        margin: 0 !important;
        vertical-align: middle !important;
        line-height: 1rem !important;
    }
}
/* Regras para iPad/Tablet (largura mínima de 768px e largura máxima de 1200px)*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
    body{
        font-size: 10px !important;
    }

    main{
        row-gap: 2vh !important;
        padding-top: 2vh !important;
        padding-bottom: 2vh !important;
    }

    input, select, textarea, button {
        font-size: 10px !important;
    }
}



/* -----------------------------------------------footer.css----------------------------------------------- */

/* Define a cor de fundo do rodapé */
footer {
    background-color: #4157a3;
    color: white;
    padding: 4vh 6rem;
    align-items: center;
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    column-gap: 10px;
}

.seisColunas {

    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.7fr 0.1fr 0.1fr;
    column-gap: 40px;
    text-decoration: none;
    color: white;
}

.seisColunas a {
    text-decoration: none;
    color: white;
}

footer p{
    margin: 0;
}

/* Regras para a página de impressão */
@media print {
    footer {
        column-gap: 2vh !important;
        padding: 1vh 3rem !important;
        padding-right: 5% !important;
        padding-left: 5% !important;
        grid-template-columns: 1.1fr 1.1fr 0.6fr 0.7fr 0.08fr 0.08fr !important;
    }
    footer p, span,
    footer .footer-link {
        font-size: 9px !important;
    }
}

/* Regras para celular (até 767px de largura) */
@media screen and (max-width: 767px) {
    footer {
        padding: 2vh 6rem;
        padding-right: 10%;
        padding-left: 10%;
        grid-template-columns: repeat(4, 1fr);
    }
    footer p, span,
    footer .footer-link {
        font-size: 12px !important;
    }
}
/* Regras para iPad/Tablet (largura mínima de 768px e largura máxima de 1200px)*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
    footer {
        padding: 2vh 6rem;
        padding-right: 10%;
        padding-left: 10%;
        grid-template-columns: repeat(4, 1fr);
    }
    footer p, span,
    footer .footer-link {
        font-size: 12px !important;
    }
}


